---
// Sin ningún redirect aquí
---
<html lang="es">
  <head>
    <title>La Meva Llar | Redireccionando...</title>
    <meta name="robots" content="noindex">
    <script is:inline>
      setTimeout(() => window.location.href = "/es/", 1000);
    </script>
  </head>
  <body>
    <div>Redireccionando con estilo...</div>
  </body>
</html>
